# Application Settings
APP_ENV=development
APP_NAME=LogMonitor
TZ=Europe/Bucharest

# Database Configuration
DB_HOST=db
DB_DATABASE=log_monitor
DB_USERNAME=user
DB_PASSWORD=
DB_PORT=3306
MYSQL_ROOT_PASSWORD=

# SMTP Configuration (Optional)
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=admin@logmonitor.local
