# Dependencies
/vendor/

# Environment
.env

# Docker/Podman
.data/
docker-compose.override.yml

# Logs
*.log
/storage/logs/
/storage/backups/
/storage/reports/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
.phpunit.cache/
integrations/