{
    # Global options
    frankenphp
    order php_server before file_server
}

:80 {
    # Set the root directory
    root * /var/www/html 

    # Global security mitigation against massive payload attacks (DoS/OOM)
    request_body {
        max_size 2MB
    }

    # Enable compression
    encode zstd gzip 

    # Protect sensitive files and directories by faking a 404 Not Found
    @forbidden {
        path /bin /bin/*
        path /db /db/*
        path /dist /dist/*
        path /docker /docker/*
        path /integrations /integrations/*
		path /lang /lang/*
		path /src /src/*
        path /tests /tests/*
        path /vendor /vendor/*
        path .dockerignore
        path .env*
        path .gitignore
        path /composer.json
        path /composer.lock
        path /phpunit.xml
    }
    respond @forbidden "Not Found" 404

    # Execute PHP files
    php_server {
        worker api/log.php 2
    }
}
