# Runs the log purging script every night at 03:00 AM
# Format: min hour day_of_month month day_of_week command
0 3 * * * /usr/local/bin/php /var/www/html/bin/purge-logs.php 30 >> /var/www/html/storage/logs/cron.log 2>&1

# Empty line required at the end of the cron file